<style>
body
 {
  font-family: Arial;
  text-align: center;
  color:black;
}
.navbar 
{
 overflow: hidden;
  background-color: dodgerblue;
  
}
.navbar a {
  float: left;
  font-size: 20px;
  color:black ;
  text-align: center;
  padding: 30px 50px;
  text-decoration: none;
}
.navbar a:hover {
  background-color: mediumseagreen;
}
</style>